<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{> nav}}
    <h2>Welcome User . You are successfully registered</h2>
    <h4>Registered email is {{email}}</h4>
    <h6>For login go to login page <a href="/login">Click Here</a></h6>
</body>
</html>